@use "../../theme/typography" as *;

.classic {
  font-size: $font-size-default;
}

.bold {
  @extend .classic;
  font-weight: bold;
}

.italic {
  @extend .classic;
  font-style: italic;
}

.header {
  @extend .classic;
  @include typography_header;
}

.subheader {
  @extend .classic;
  @include typography_subheader;
}

.subsubheader {
  @extend .classic;
  @include typography_subsubheader;
}

.content {
  @extend .classic;
  @include typography_content;
}

.nowrap {
  @extend .classic;
  white-space: nowrap;
}