@use "colors";
@use "media";

$font-size-tiny: 7px;
$font-size-small: 11px;
$font-size-small-plus: 14px;
$font-size-medium: 16px;
$font-size-medium-plus: 18px;
$font-size-large: 20px;
$font-size-large-plus: 24px;
$font-size-huge: 32px;
$font-size-massive: 40px;

$font-size-default: $font-size-medium-plus;

@mixin typography_header {
  font-size: $font-size-large;
  font-weight: bold;

  @include media.for-tablet-landscape-up {
    font-size: $font-size-huge;
  }
}

@mixin typography_subheader {
  font-size: $font-size-medium;
  font-weight: bold;

  @include media.for-tablet-landscape-up {
    font-size: $font-size-medium-plus;
  }
}

@mixin typography_subsubheader {
  font-size: $font-size-small-plus;
  font-weight: bold;
  color: colors.$color-light-foreground;

  @include media.for-tablet-landscape-up {
    font-size: $font-size-medium;
  }
}

@mixin typography_content {
  font-size: $font-size-small;

  @include media.for-tablet-landscape-up {
    font-size: $font-size-small-plus;
  }
}