@use "index";
@use "colors";
@use "dimensions";
@use "media";

@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/InterDisplay-Light.woff2) format("woff2");
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;


    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .landingpage {
            display: flex;
            flex-flow: row wrap;
            min-height: 100vh;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            .article {

                h1,
                h2,
                h3,
                h4 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                        sans-serif;
                    color: colors.$color-light-foreground;
                    margin: dimensions.$spacing-large;
                }

                p,
                li {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    line-height: 1.8;
                    color: colors.$color-foreground;
                }
            }
        }

        .page {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
            margin-bottom: dimensions.$spacing-huge;

            .card {
                display: none;
            }

            .card:nth-child(-n+3) {
                display: block;
            }

            @include media.for-tablet-landscape-up {
                .card:nth-child(-n+4) {
                    display: block;
                }
            }

            @include media.for-desktop-up {
                .card:nth-child(-n+5) {
                    display: block;
                }
            }

            .article {

                h1,
                h2,
                h3,
                h4 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                        sans-serif;
                    color: colors.$color-light-foreground;
                    margin: dimensions.$spacing-large;
                }

                p,
                li {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    line-height: 1.8;
                    color: colors.$color-foreground;
                }
            }

        }

        @include media.for-tablet-portrait-up {
            width: 500px;
        }

        @include media.for-tablet-landscape-up {
            width: 900px;
        }

        @include media.for-desktop-up {
            width: 1100px;
        }

        @include media.for-big-desktop-up {
            width: 1500px;
        }
    }

    .gatsby-response-image-image {
        box-shadow: none !important;
    }
}

html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;


    // background: radial-gradient(circle at 25% 25%, #f5f5f5 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, #f7f7f7 15%, transparent 16%);
    // background-size: 5em 5em;
    background: rgb(229, 245, 255);
    background: linear-gradient(120deg, rgba(144, 171, 196, 0.368) 0%, rgba(215, 209, 242, 0.278) 74%, rgba(249, 208, 184, 0.368) 100%);

    background-color: #fafafa;


}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}