@import "../../theme/index";

.classic {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: calc(calc(-100vh / 2) + 10px);
  top: 50vh;
  width: 100vh;
  color: #acacac;
  justify-content: center;
  transform: rotate(90deg);
  text-shadow: #fff 0px 0px 15px;

  .link {
    text-decoration: none;
    color: #acacac;
    font-size: 10px;

    @include for-tablet-portrait-up {
      font-size: 14px;
    }
  }
}