@use "../../theme/media" as *;

.classic {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: calc(calc(-100vh / 2) + 10px);
  top: 50vh;
  width: 100vh;
  color: #acacac;
  justify-content: center;
  transform: rotate(90deg);

  .link {
    text-decoration: none;
    color: inherit;
    font-size: 10px;

    @include for-tablet-portrait-up {
      font-size: 14px;
    }
  }
}